.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Mulish', sans-serif;
  font-size: 4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5rem;
}
.display-2 {
  font-family: 'Mulish', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Mulish', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.8rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #0073b1 !important;
}
.bg-success {
  background-color: #e43f3f !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #0073b1 !important;
}
.bg-danger {
  background-color: #ff9a00 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0073b1 !important;
  border-color: #0073b1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #003b5a !important;
  border-color: #003b5a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #003b5a !important;
  border-color: #003b5a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #4326c4 !important;
  border-color: #4326c4 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #2a187b !important;
  border-color: #2a187b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2a187b !important;
  border-color: #2a187b !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #0073b1 !important;
  border-color: #0073b1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #003b5a !important;
  border-color: #003b5a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #003b5a !important;
  border-color: #003b5a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9a00 !important;
  border-color: #ff9a00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a86600 !important;
  border-color: #a86600 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a86600 !important;
  border-color: #a86600 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #0073b1;
  color: #0073b1;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #003b5a !important;
  background-color: transparent!important;
  border-color: #003b5a !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0073b1 !important;
  border-color: #0073b1 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #4326c4;
  color: #4326c4;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #2a187b !important;
  background-color: transparent!important;
  border-color: #2a187b !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #4326c4 !important;
  border-color: #4326c4 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #0073b1;
  color: #0073b1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #003b5a !important;
  background-color: transparent!important;
  border-color: #003b5a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #0073b1 !important;
  border-color: #0073b1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9a00;
  color: #ff9a00;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a86600 !important;
  background-color: transparent!important;
  border-color: #a86600 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9a00 !important;
  border-color: #ff9a00 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #0073b1 !important;
}
.text-secondary {
  color: #4326c4 !important;
}
.text-success {
  color: #e43f3f !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #0073b1 !important;
}
.text-danger {
  color: #ff9a00 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #00314b !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #26156f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #a61717 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #00314b !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #995c00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #0073b1;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #0073b1;
}
.alert-danger {
  background-color: #ff9a00;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0073b1;
  border-color: #0073b1;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0073b1;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #31b7ff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fdf2f2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #31b7ff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffebcc;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #0073b1 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #0073b1;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0073b1;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #0073b1;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0073b1;
  border-bottom-color: #0073b1;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0073b1 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #4326c4 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230073b1' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-t7j3SqtvYC {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 84px;
}
.cid-t7j3SqtvYC nav.navbar {
  position: fixed;
}
.cid-t7j3SqtvYC .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t7j3SqtvYC .dropdown-menu {
  padding: 0;
  border-radius: 4px;
}
.cid-t7j3SqtvYC .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-t7j3SqtvYC .dropdown-item:hover,
.cid-t7j3SqtvYC .dropdown-item:focus {
  background: #0073b1 !important;
  color: white !important;
}
.cid-t7j3SqtvYC .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-t7j3SqtvYC .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-t7j3SqtvYC .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-t7j3SqtvYC .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-t7j3SqtvYC .nav-link {
  position: relative;
}
.cid-t7j3SqtvYC .container {
  display: flex;
  margin: auto;
}
.cid-t7j3SqtvYC .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-t7j3SqtvYC .dropdown-menu,
.cid-t7j3SqtvYC .navbar.opened {
  background: #ffffff !important;
}
.cid-t7j3SqtvYC .nav-item:focus,
.cid-t7j3SqtvYC .nav-link:focus {
  outline: none;
}
.cid-t7j3SqtvYC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-t7j3SqtvYC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-t7j3SqtvYC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-t7j3SqtvYC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t7j3SqtvYC .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-t7j3SqtvYC .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-t7j3SqtvYC .navbar {
  min-height: 84px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-t7j3SqtvYC .navbar.opened {
  transition: all .3s;
}
.cid-t7j3SqtvYC .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-t7j3SqtvYC .navbar .navbar-logo img {
  width: auto;
}
.cid-t7j3SqtvYC .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-t7j3SqtvYC .navbar.collapsed {
  justify-content: center;
}
.cid-t7j3SqtvYC .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-t7j3SqtvYC .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-t7j3SqtvYC .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-t7j3SqtvYC .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t7j3SqtvYC .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t7j3SqtvYC .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-t7j3SqtvYC .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t7j3SqtvYC .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-t7j3SqtvYC .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-t7j3SqtvYC .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-t7j3SqtvYC .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t7j3SqtvYC .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t7j3SqtvYC .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t7j3SqtvYC .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-t7j3SqtvYC .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-t7j3SqtvYC .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-t7j3SqtvYC .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-t7j3SqtvYC .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-t7j3SqtvYC .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-t7j3SqtvYC .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-t7j3SqtvYC .navbar.navbar-short {
  min-height: 84px;
}
.cid-t7j3SqtvYC .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-t7j3SqtvYC .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-t7j3SqtvYC .navbar-brand {
  min-height: calc(84px - 1rem);
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-t7j3SqtvYC .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t7j3SqtvYC .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t7j3SqtvYC .dropdown-item.active,
.cid-t7j3SqtvYC .dropdown-item:active {
  background-color: transparent;
}
.cid-t7j3SqtvYC .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t7j3SqtvYC .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t7j3SqtvYC .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t7j3SqtvYC .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-t7j3SqtvYC .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t7j3SqtvYC .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t7j3SqtvYC ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-t7j3SqtvYC .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-t7j3SqtvYC button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-t7j3SqtvYC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-t7j3SqtvYC nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-t7j3SqtvYC nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-t7j3SqtvYC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-t7j3SqtvYC .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-t7j3SqtvYC a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-t7j3SqtvYC .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t7j3SqtvYC .navbar {
    height: 77px;
  }
  .cid-t7j3SqtvYC .navbar.opened {
    height: auto;
  }
  .cid-t7j3SqtvYC .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-t64vYlXEar {
  background-image: url("../../../assets/images/cover-recruiter-10.jpg");
  min-height: 68vh;
}
.cid-t64vYlXEar .btn {
  padding: 1rem 3rem;
}
.cid-t64vYlXEar .mbr-section-title {
  color: #353535;
}
.cid-t64vYlXEar .mbr-text,
.cid-t64vYlXEar .mbr-section-btn {
  color: #353535;
}
.cid-t659oHuDxf {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-t659oHuDxf .mbr-section-title {
  color: #353535;
}
.cid-t659oHuDxf .mbr-section-subtitle {
  color: #0073b1;
}
@media (max-width: 768px) {
  .cid-t659oHuDxf {
    padding-top: 2.5rem;
    padding-bottom: 0rem;
  }
}
.cid-t659uxj0Kq {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-t659uxj0Kq .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-t659uxj0Kq .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-t659uxj0Kq .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-t659uxj0Kq .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-t659uxj0Kq .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t659uxj0Kq .content-wrapper {
    padding: 0rem 3rem;
  }
  .cid-t659uxj0Kq .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-t659uxj0Kq .card-title {
  color: #353535;
}
.cid-t659uxj0Kq ul.list-layout2 {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  overflow: hidden;
}
.cid-t659uxj0Kq li {
  display: flex;
  line-height: 1.8;
  text-align: left;
}
.cid-t659uxj0Kq .mbri-success {
  font-size: 20px;
  font-weight: bolder;
  padding-right: 12px;
  transition: all 0.3s;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2b59e7 ;
  padding: 5px;
  margin: 3px 10px 0 2px;
}
.cid-t659uxj0Kq .amp-iconfont {
  font-size: 3rem;
  width: 3rem;
  color: #2b59e7;
}
.cid-t659uxj0Kq .fa-check-square-o:before {
  content: "\f046";
}
.cid-t659uxj0Kq .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-t659uxj0Kq .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-t659uxj0Kq .carousel-indicators li.active,
.cid-t659uxj0Kq .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-t659uxj0Kq .carousel-indicators li::after,
.cid-t659uxj0Kq .carousel-indicators li::before {
  content: none;
}
.cid-t659uxj0Kq .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-t659uxj0Kq .carousel-indicators {
    display: none !important;
  }
}
.cid-t659uxj0Kq .carousel-controls a {
  transition: opacity .5s;
  font-size: 22px;
  position: absolute;
  top: 180px;
  bottom: auto;
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  color: #585858;
  background: #c8c6c6;
}
.cid-t659uxj0Kq .carousel-control-next span {
  padding-left: 5px;
}
.cid-t659uxj0Kq .carousel-control-prev span {
  padding-right: 5px;
}
.cid-t659uxj0Kq .btn-warning-outline {
  border-width: thin;
}
.cid-t659uxj0Kq .btn {
  padding: 0.3rem 1.2rem  0.4rem;
}
@media (max-width: 768px) {
  .cid-t659uxj0Kq {
    padding-bottom: 0rem;
  }
  .cid-t659uxj0Kq .carousel-item img {
    margin-bottom: 2rem;
  }
}
.cid-t659v7JXBd {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-t659v7JXBd .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-t659v7JXBd .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-t659v7JXBd .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-t659v7JXBd .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t659v7JXBd .content-wrapper {
    padding: 0rem 3rem;
  }
  .cid-t659v7JXBd .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-t659v7JXBd .card-title {
  color: #353535;
}
.cid-t659v7JXBd ul.list-layout2 {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  overflow: hidden;
}
.cid-t659v7JXBd li {
  display: flex;
  line-height: 1.8;
  text-align: left;
}
.cid-t659v7JXBd .mbri-success {
  font-size: 20px;
  font-weight: bolder;
  padding-right: 12px;
  transition: all 0.3s;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2b59e7 ;
  padding: 5px;
  margin: 3px 10px 0 2px;
}
.cid-t659v7JXBd .amp-iconfont {
  font-size: 3rem;
  width: 3rem;
  color: #2b59e7;
}
.cid-t659v7JXBd .fa-check-square-o:before {
  content: "\f046";
}
.cid-t659v7JXBd .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-t659v7JXBd .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-t659v7JXBd .carousel-indicators li.active,
.cid-t659v7JXBd .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-t659v7JXBd .carousel-indicators li::after,
.cid-t659v7JXBd .carousel-indicators li::before {
  content: none;
}
.cid-t659v7JXBd .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-t659v7JXBd .carousel-indicators {
    display: none !important;
  }
}
.cid-t659v7JXBd .carousel-controls a {
  transition: opacity .5s;
  font-size: 22px;
  position: absolute;
  top: 180px;
  bottom: auto;
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  color: #585858;
  background: #c8c6c6;
}
.cid-t659v7JXBd .carousel-control-next span {
  padding-left: 5px;
}
.cid-t659v7JXBd .carousel-control-prev span {
  padding-right: 5px;
}
.cid-t659v7JXBd .btn-warning-outline {
  border-width: thin;
}
.cid-t659v7JXBd .btn {
  padding: 0.3rem 1.2rem  0.4rem;
}
@media (max-width: 768px) {
  .cid-t659v7JXBd {
    padding-bottom: 0rem;
  }
  .cid-t659v7JXBd .carousel-item img {
    margin-bottom: 2rem;
  }
}
.cid-t659PhiLtZ {
  padding-top: 0rem;
  padding-bottom: 2.5rem;
  background-color: #fafafa;
}
.cid-t659PhiLtZ .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-t659PhiLtZ .content-wrapper .row {
    flex-direction: column-reverse;
  }
  .cid-t659PhiLtZ .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-t659PhiLtZ .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-t659PhiLtZ .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t659PhiLtZ .content-wrapper {
    padding: 0rem 3rem;
  }
  .cid-t659PhiLtZ .content-wrapper .text-wrapper {
    padding-right: 2rem;
  }
}
.cid-t659PhiLtZ .card-title {
  color: #353535;
}
.cid-t659PhiLtZ ul.list-layout2 {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
  overflow: hidden;
}
.cid-t659PhiLtZ li {
  display: flex;
  line-height: 1.8;
  text-align: left;
}
.cid-t659PhiLtZ .mbri-success {
  font-size: 20px;
  font-weight: bolder;
  padding-right: 12px;
  transition: all 0.3s;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2b59e7 ;
  padding: 5px;
  margin: 3px 10px 0 2px;
}
.cid-t659PhiLtZ .amp-iconfont {
  font-size: 3rem;
  width: 3rem;
  color: #2b59e7;
}
.cid-t659PhiLtZ .fa-check-square-o:before {
  content: "\f046";
}
.cid-t659PhiLtZ .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-t659PhiLtZ .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-t659PhiLtZ .carousel-indicators li.active,
.cid-t659PhiLtZ .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-t659PhiLtZ .carousel-indicators li::after,
.cid-t659PhiLtZ .carousel-indicators li::before {
  content: none;
}
.cid-t659PhiLtZ .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-t659PhiLtZ .carousel-indicators {
    display: none !important;
  }
}
.cid-t659PhiLtZ .carousel-controls a {
  transition: opacity .5s;
  font-size: 22px;
  position: absolute;
  top: 180px;
  bottom: auto;
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  color: #585858;
  background: #c8c6c6;
}
.cid-t659PhiLtZ .carousel-control-next span {
  padding-left: 5px;
}
.cid-t659PhiLtZ .carousel-control-prev span {
  padding-right: 5px;
}
.cid-t659PhiLtZ .btn-warning-outline {
  border-width: thin;
}
.cid-t659PhiLtZ .btn {
  padding: 0.3rem 1.2rem  0.4rem;
}
@media (max-width: 768px) {
  .cid-t659PhiLtZ {
    padding-bottom: 0rem;
  }
  .cid-t659PhiLtZ .carousel-item img {
    margin-bottom: 2rem;
  }
}
.cid-t65aRKIYel {
  padding-top: 2rem;
  padding-bottom: 3.5rem;
  background-color: #fafafa;
}
@media (max-width: 768px) {
  .cid-t65aRKIYel {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }
}
.cid-t7j3VgsVTD {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-t7j3VgsVTD .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-t7j3VgsVTD form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-t7j3VgsVTD form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-t7j3VgsVTD form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-t7j3VgsVTD P {
  text-align: left;
}
.cid-t7j3VgsVTD .mbr-form {
  padding: 2rem;
  background-color: #fafafa;
}
@media (max-width: 768px) {
  .cid-t7j3VgsVTD .mbr-form {
    padding: 1rem 0.5rem;
  }
}
.cid-t7j3VgsVTD .form-control {
  padding: 1rem 1.2rem;
  line-height: 1.5rem !important;
}
@media (max-width: 768px) {
  .cid-t7j3VgsVTD {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .cid-t7j3VgsVTD h3.align-center {
    text-align: left;
  }
}
.cid-t65aYUtyDu {
  background-image: url("../../../assets/images/bg-trophy-2.jpg");
  min-height: 68vh;
}
.cid-t65aYUtyDu .text-wrapper {
  background-color: #ffffff;
  padding: 3rem;
}
@media (max-width: 768px) {
  .cid-t65aYUtyDu .text-wrapper {
    padding: 1rem;
  }
}
.cid-t65aYUtyDu .mbr-section-title {
  color: #353535;
}
.cid-t65aYUtyDu .mbr-text,
.cid-t65aYUtyDu .mbr-section-btn {
  color: #353535;
}
@media (max-width: 768px) {
  .cid-t65aYUtyDu {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.cid-t65b0voyVa {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-t65b0voyVa .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 570px;
  max-width: 960px;
}
@media (max-width: 768px) {
  .cid-t65b0voyVa .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-t65b0voyVa .embla__button--next,
.cid-t65b0voyVa .embla__button--prev {
  display: flex;
}
.cid-t65b0voyVa .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-t65b0voyVa .embla__button {
    display: none;
  }
}
.cid-t65b0voyVa .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-t65b0voyVa .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-t65b0voyVa .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t65b0voyVa .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 768px) {
  .cid-t65b0voyVa .embla__button {
    top: auto;
  }
}
.cid-t65b0voyVa .user_image {
  width: 100px;
  height: 100px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-t65b0voyVa .user_image .item-wrapper {
  width: 100px;
  height: 100px;
}
.cid-t65b0voyVa .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
@media (max-width: 230px) {
  .cid-t65b0voyVa .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-t65b0voyVa .embla {
  position: relative;
  width: 100%;
}
.cid-t65b0voyVa .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-t65b0voyVa .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-t65b0voyVa .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-t65b0voyVa .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-t65b0voyVa {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.cid-t7j3WnkO9L {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ebf1fb;
}
.cid-t7j3WnkO9L .mbr-fallback-image.disabled {
  display: none;
}
.cid-t7j3WnkO9L .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t7j3WnkO9L .mbr-section-subtitle {
  text-align: center;
}
.cid-t7j3WnkO9L .mbr-text {
  text-align: center;
}
@media (max-width: 768px) {
  .cid-t7j3WnkO9L {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .cid-t7j3WnkO9L .mbr-section-subtitle {
    text-align: left !important;
  }
  .cid-t7j3WnkO9L .mbr-text {
    text-align: left;
  }
  .cid-t7j3WnkO9L .align-center {
    text-align: left;
  }
}
.cid-t65eXsifbf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-t65eXsifbf .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-t65eXsifbf .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-t65eXsifbf .row {
    text-align: center;
  }
  .cid-t65eXsifbf .row > div {
    margin: auto;
  }
  .cid-t65eXsifbf .social-row {
    justify-content: center;
  }
}
.cid-t65eXsifbf .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-t65eXsifbf .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-t65eXsifbf .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t65eXsifbf .list {
    margin-bottom: 0rem;
  }
}
.cid-t65eXsifbf .mbr-text {
  color: #bbbbbb;
}
.cid-t65eXsifbf .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-t65eXsifbf .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-t65eXsifbf div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-t65eXsifbf .display-4 {
  font-size: 1rem;
  line-height: 1.4;
}
.cid-t65eXsifbf .mbr-section-subtitle {
  color: #fafafa;
}
.cid-t65eXsifbf .text-footer {
  font-size: 0.9rem;
}
.cid-t65eXsifbf a.footer-link:link,
.cid-t65eXsifbf a.footer-link:hover,
.cid-t65eXsifbf a.footer-link:active,
.cid-t65eXsifbf a.footer-link:visited {
  cursor: pointer;
  text-decoration: none!important;
  color: #bbbbbb!important;
  background-image: none!important;
}
.cid-saDYXTYIwH {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background: #0073b1 !important;
}
.cid-saDYXTYIwH .mbr-section-title,
.cid-saDYXTYIwH .mbr-text,
.cid-saDYXTYIwH .mbr-section-btn {
  text-align: center;
}
.cid-saDYXTYIwH img {
  margin: auto;
  width: 80%;
}
.cid-saDYXTYIwH .mbr-section-title,
.cid-saDYXTYIwH .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-saDYXTYIwH .mbr-text,
.cid-saDYXTYIwH .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-saDYXTYIwH .mbr-text {
  text-align: left !important;
}
.cid-t65eXsifbf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-t65eXsifbf .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-t65eXsifbf .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-t65eXsifbf .row {
    text-align: center;
  }
  .cid-t65eXsifbf .row > div {
    margin: auto;
  }
  .cid-t65eXsifbf .social-row {
    justify-content: center;
  }
}
.cid-t65eXsifbf .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-t65eXsifbf .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-t65eXsifbf .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t65eXsifbf .list {
    margin-bottom: 0rem;
  }
}
.cid-t65eXsifbf .mbr-text {
  color: #bbbbbb;
}
.cid-t65eXsifbf .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-t65eXsifbf .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-t65eXsifbf div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-t65eXsifbf .display-4 {
  font-size: 1rem;
  line-height: 1.4;
}
.cid-t65eXsifbf .mbr-section-subtitle {
  color: #fafafa;
}
.cid-t65eXsifbf .text-footer {
  font-size: 0.9rem;
}
.cid-t65eXsifbf a.footer-link:link,
.cid-t65eXsifbf a.footer-link:hover,
.cid-t65eXsifbf a.footer-link:active,
.cid-t65eXsifbf a.footer-link:visited {
  cursor: pointer;
  text-decoration: none!important;
  color: #bbbbbb!important;
  background-image: none!important;
}
.cid-t7j3SqtvYC {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 84px;
}
.cid-t7j3SqtvYC nav.navbar {
  position: fixed;
}
.cid-t7j3SqtvYC .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t7j3SqtvYC .dropdown-menu {
  padding: 0;
  border-radius: 4px;
}
.cid-t7j3SqtvYC .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-t7j3SqtvYC .dropdown-item:hover,
.cid-t7j3SqtvYC .dropdown-item:focus {
  background: #0073b1 !important;
  color: white !important;
}
.cid-t7j3SqtvYC .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-t7j3SqtvYC .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-t7j3SqtvYC .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-t7j3SqtvYC .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-t7j3SqtvYC .nav-link {
  position: relative;
}
.cid-t7j3SqtvYC .container {
  display: flex;
  margin: auto;
}
.cid-t7j3SqtvYC .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-t7j3SqtvYC .dropdown-menu,
.cid-t7j3SqtvYC .navbar.opened {
  background: #ffffff !important;
}
.cid-t7j3SqtvYC .nav-item:focus,
.cid-t7j3SqtvYC .nav-link:focus {
  outline: none;
}
.cid-t7j3SqtvYC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-t7j3SqtvYC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-t7j3SqtvYC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-t7j3SqtvYC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t7j3SqtvYC .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-t7j3SqtvYC .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-t7j3SqtvYC .navbar {
  min-height: 84px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-t7j3SqtvYC .navbar.opened {
  transition: all .3s;
}
.cid-t7j3SqtvYC .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-t7j3SqtvYC .navbar .navbar-logo img {
  width: auto;
}
.cid-t7j3SqtvYC .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-t7j3SqtvYC .navbar.collapsed {
  justify-content: center;
}
.cid-t7j3SqtvYC .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-t7j3SqtvYC .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-t7j3SqtvYC .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-t7j3SqtvYC .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t7j3SqtvYC .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t7j3SqtvYC .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-t7j3SqtvYC .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t7j3SqtvYC .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-t7j3SqtvYC .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-t7j3SqtvYC .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-t7j3SqtvYC .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t7j3SqtvYC .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t7j3SqtvYC .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t7j3SqtvYC .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-t7j3SqtvYC .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-t7j3SqtvYC .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-t7j3SqtvYC .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-t7j3SqtvYC .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-t7j3SqtvYC .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-t7j3SqtvYC .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-t7j3SqtvYC .navbar.navbar-short {
  min-height: 84px;
}
.cid-t7j3SqtvYC .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-t7j3SqtvYC .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-t7j3SqtvYC .navbar-brand {
  min-height: calc(84px - 1rem);
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-t7j3SqtvYC .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t7j3SqtvYC .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t7j3SqtvYC .dropdown-item.active,
.cid-t7j3SqtvYC .dropdown-item:active {
  background-color: transparent;
}
.cid-t7j3SqtvYC .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t7j3SqtvYC .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t7j3SqtvYC .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t7j3SqtvYC .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-t7j3SqtvYC .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t7j3SqtvYC .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t7j3SqtvYC ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-t7j3SqtvYC .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-t7j3SqtvYC button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-t7j3SqtvYC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-t7j3SqtvYC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-t7j3SqtvYC nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-t7j3SqtvYC nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-t7j3SqtvYC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-t7j3SqtvYC .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-t7j3SqtvYC a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-t7j3SqtvYC .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t7j3SqtvYC .navbar {
    height: 77px;
  }
  .cid-t7j3SqtvYC .navbar.opened {
    height: auto;
  }
  .cid-t7j3SqtvYC .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
